{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Netscuela</title>
    <link href="{% static 'netscuela_css/netscuela.css' %}" rel="stylesheet">
    <!--<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">-->
</head>
<body>
 <div class="container">
        <h1 class="title">Netscuela</h1>
        <button class="btn-signin">Sign In</button>
        <a href="#" class="link-signup">Sign Up</a>
    </div>
</body>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</html>